@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

p{
    padding: 20px;
    color: white;
    font-family: "Lexend Deca", sans-serif;
    line-height: 25px;
} 